footer{
    background-color: rgb(239, 239, 239);
}
.footerText{
    color: gray;
}
.studiooneLogo{
    width: 100px;
    padding-left: 700px;
}
.footerLogo, .footerLongText{
    padding-left: 70px;
}